<div class="header navbar navbar-inverse navbar-static-top" id = "top">
                <div class="navbar-header" id='logoName'>
                        <img src="static/images/mocklogo.png" alt="Logo" id='logo' class="navbar-left">
                        <h1 id='tname'>JobTroll </h1>
</div>
<div class="navbar-collapse collapse" id="navList">
    <ul class="nav navbar-nav navbar-right">
      <li>
          <a href="/mainpage" class="scrollto">Main</a>
      </li>
      <li>
        <a href="/research" class="scrollto">Job Research</a>
      </li>
      <li>
          <a href="/logout" class="scrollto">Log Out</a>
      </li>
    </ul>
</div>
</div>
<h1 id='welcome'>Welcome Home {{data.user.username}}!</h1>
<div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center enter_section" id='appform'>
			<form action="/create" method="post">
      {{!-- <form id="appSubmit"> --}}
				<input type="text" class="form-control" name="companyName" value="" id="enter_text" placeholder="Company Name">
                <input type="text" class="form-control" name="position" value="" id="enter_text" placeholder="Position applied for">
                <input type="text" class="form-control" name="dateApplied" value="" id="enter_text" placeholder="mm/dd/yyyyy" >
                <input type="text" class="form-control" name="replied" value="" id="enter_text" placeholder="Have they replied back?">
                <input type="text" class="form-control" name="nextEvent" value="" id="enter_text" placeholder="What is the next event?">
                <input type="text" class="form-control" name="notes" value="" id="enter_text" placeholder="Enter Notes here">
                <input type="text" class="form-control" name="resume" value="" id="enter_text" placeholder="Have you submitted your resume?">
				<button type="submit" class="btn btn-primary" id="text-enter-button" name={{user.id}}>Submit</button>
			</form>
			<p></p>
		</div>
	</div>
</div>
</div>

    {{#each data.enteredApp}}
    <div id = "applicationData" class='col-md-6 col-md-offset-3'>
        <div id='appcontent'>
            <div class='row'>
                <p class='col-md-4'>Company Name:{{this.companyName}}</p>
                <p class='col-md-4'>Position:{{this.position}}</p>
                <p class='col-md-4'>Date Applied: {{this.dateApplied}} </p>
            </div>
            <div class='row'>
                <p class='col-md-4'>Have they replied:{{this.replied}}</p>
                <p class='col-md-4'>Next Event:{{this.nectEvent}}</p>
                <p class='col-md-4'>Submitted Resume:{{this.resume}}</p>
            </div>
        <p>Notes:{{this.notes}}</p>
        </div>
    </div>
    {{/each}}
    

