{{!--<div class = "text-center row">
	<div class = "col-md-3">
	</div>
	<div class = "col-md-2">
		<img id="pic1" src="/static/images/jobtroll.jpg" alt="jobtroll" height="125" width="125">
	</div>
	<div class = "col-md-2">
		<h1 id="header">JobTroll</h1>
	</div>
	<div class = "col-md-2">
	</div>
	</div class="col-md-3">
	</div>
</div>--}}
<div class="header navbar navbar-inverse navbar-static-top" id = "top">
                <div class="navbar-header" id='logoName'>
                        <img src="static/images/mocklogo.png" alt="Logo" id='logo' class="navbar-left">
                        <h1 id='tname'>JobTroll </h1>
                </div>
                <div class="navbar-collapse collapse" id="navList">
                    <ul class="nav navbar-nav navbar-right">
                    	<li>
							<a href="#interviews" class="scrollto">Interview Help</a>
						</li>
						<li>
							<a href="#jobs" class="scrollto">Job Research</a>
						</li>
						<li>
							<a href="#resume" class="scrollto">Resume Help</a>
						</li>
						<li>
							<a href="#coverletter" class="scrollto">Cover Letter Help</a>
						</li>
                    </ul>
                </div>
        </div>

{{!-- <div class = "text-center top">
</div> --}}
{{!-- <div class = "row links">
	<div class = "col-md-8"></div>
	<div class = "col-md-4 navbar-collapse collapse" id="site-nav">
		<ul class="nav navbar-nav navbar-right">	<li>
				<a href="#interviews" class="scrollto">Interview Help</a>
			</li>
			<li>
				<a href="#jobs" class="scrollto">Job Research</a>
			</li>
			<li>
				<a href="#resume" class="scrollto">Resume Help</a>
			</li>
			<li>
				<a href="#coverletter" class="scrollto">Cover Letter Help</a>
			</li>
		</ul>
	</div>

</div> --}}
<div class = "text-center bodytext">
	<h2>Resources</h2>
</div>
<div class = "row">
	<div class = "col-xs-6 col-sm-4"></div>
	<div class = "well well-sm center-block text-center explanation col-xs-6 col-sm-4">
		<h4>Forget Google. We have spent time doing the research for you. On this page you will find the best tech companies to work for, the interview questions to practice, and the correct way to format your resume and cover letter.</h4>
	</div>
	<div class = "col-xs-6 col-sm-4"></div>
</div>
<div class = "interviewSection center-block" id="interviews">
	<div class = "jumbotron text-center">
		<h1 id = "sectionTitle" class="headText">Tech Interview Research</h1>
		<h3>In this section, you can research ways to prepare for an interview, as well as use the interview question generator which has over 150 different questions stored.
		</h3>
		<div class="navbar-collapse collapse" id="navList">
	        <ul class="nav navbar-nav navbar-right">
	        	<li>
					<a href="#top" class="scrollto">Back to Top</a>
				</li>
				<li>
					<a href="#jobs" class="scrollto">Job Research</a>
				</li>
				<li>
					<a href="#resume" class="scrollto">Resume Help</a>
				</li>
				<li>
					<a href="#coverletter" class="scrollto">Cover Letter Help</a>
				</li>
	        </ul>
	    </div>
	</div>
</div>
<div class = "row">
	<div class = "col-md-8 col-md-offset-2 tips">
		<h2 id="title" class='headText'>Interview Tips</h2>
		<div class="row tips">
			<div class='col-md-6'>
				<ul>
					<li>Be very strong in the basics of the programming language</li>
					<li>Be ready to say "NO" and "I Dont Know"</li>
					<li>Be concise on the answer...Do not add extra words to explain the basic answer</li>
					<li>Do not give irrelevant answers or ask questions that dont make sense</li>
					<li>It is okay to take your time to answer</li>
					<li>Be weary of appearance. Iron your clothes. Don't dress too fancy, but dont dress too casual</li>
					{{!-- https://www.linkedin.com/pulse/20140709101232-15993456-five-tips-to-crack-any-technical-interview --}}
				</ul>
			</div>
			<div class='col-md-6'>
				<ul>
					
					<li>Just as in your resume, dont overemphasize skills</li>
					<li>Don't be one of those arrogant techies</li>
					<li>Communicate well...Think of every question as an opening to a conversation</li>
					<li>PREPARE</li>
					<li>Show your interest...Do research on the company beforehand</li>
					<li>Don't be TOO eager for perks</li>
					<li>Closure is important...Have a strong closing statement</li>
					{{!-- http://www.monster.com/career-advice/article/ten-tech-it-interview-errors --}}
				</ul>
			</div>
		</div>
	</div>
	<div class = "col-md-8"></div>
</div>
<div class = "row center-block">
	<div class = "col-md-4">
	</div>
	<div class = "col-md-4  well well-sm text-center">
		<section>
			<button id="randomQuestion">Generate a Random Question</button>
			<br>
			<div id = "questionDiv">
			</div>
		</section>
		<br>
		<h5>As we all know with computer programming, there are many answers to a question. Once you are done answering, please research many the differernt answers using the resources that are out there.</h5>
	</div>
	<div class="col-md-4">
	</div>
</div>
<div class="text-center" id = "jobs">
	<div class = "jumbotron">
		<h1 id = "sectionTitle">Tech Job Research</h1>
		<h3>In this section, you can find various tech recruiters to contact that will help find you a job, job posting websites where you can search through many job postings, and a few of the top tech companies to work for that you should probably apply to through a website or phone call.
		</h3>
		<div class="navbar-collapse collapse" id="navList">
	        <ul class="nav navbar-nav navbar-right">
	        	<li>
					<a href="#top" class="scrollto">Back to Top</a>
				</li>
	        	<li>
					<a href="#interviews" class="scrollto">Interview Help</a>
				</li>
				<li>
					<a href="#resume" class="scrollto">Resume Help</a>
				</li>
				<li>
					<a href="#coverletter" class="scrollto">Cover Letter Help</a>
				</li>
	        </ul>
	    </div>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Tech Recruiter Companies</h3>
			</div>
			<div class="panel-body">
				<table class="recruiterTable">
					<thead>
						<tr>
							<th>Company</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
					{{#each data.recruiters}}
						<tr>
							<td>{{this.company}}</td>
							<td>{{this.description}}</td>
						</tr>
					{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-7">
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Tech Job Posting Websites</h3>
			</div>
			<div class = "panel-body">
				<table class="recruiterTable">
					<thead>
						<tr>
							<th>Website</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
					{{#each data.jobsites}}
						<tr>
							<td><a src="{{this.website}}">{{this.website}}</a></td>
							<td>{{this.description}}</td>
						</tr>
					{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-7">
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class = "panel-title text-center">Top Tech Companies to Work For</h3>
			</div>
			<div class = "panel-body">
				<table class="recruiterTable">
					<thead>
						<tr>
							<th>Company</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
					{{#each data.companies}}
						<tr>
							<td>{{this.company}}</td>
							<td>{{this.description}}</td>
						</tr>
					{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-7">
	</div>
</div>
<br>
<div class="text-center" id = "resume">
	<div class = "jumbotron">
		<h1 id = "sectionTitle">Resume Help</h1>
		<h3>In this section, you can find  a sample cover resume various tips on cover letter writing. Please change up resume per job application
		<div class="navbar-collapse collapse" id="navList">
	        <ul class="nav navbar-nav navbar-right">
	        	<li>
					<a href="#top" class="scrollto">Back to Top</a>
				</li>
	        	<li>
					<a href="#interviews" class="scrollto">Interview Help</a>
				</li>
				<li>
					<a href="#jobs" class="scrollto">Job Research</a>
				</li>
				<li>
					<a href="#coverletter" class="scrollto">Cover Letter Help</a>
				</li>
	        </ul>
    	</div>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<div class = "panel panel-default">
			<div class = "panel-heading">
				<h3 class = "panel-title text-center">Sample Resume</h3>
			</div>
			<div class = "panel-body">
				<img id="pic1" src="/static/images/resume.jpg" alt="jobtroll" height="600" width="600">
			</div>
		</div>
	</div>
	<div class="col-md-7">
	</div>
</div>
<div class = "row">
	<div class = "col-md-4">
		<h2 id="title">Resume Tips</h2>
		<ul>
			<li>Get to the point</li>
			<li>Leave the past behind</li>
			<li>Don't use "Go Getter", "Strategic Thinker", etc.</li>
			<li>Use bullet points</li>
			<li>Brand yourself</li>
			{{!-- https://skillcrush.com/2014/07/30/15-steps-updating-resume/ --}}
		</ul>
	</div>
	<div class = "col-md-8"></div>
</div>
<br>
<div class="text-center" id = "coverletter">
	<div class = "jumbotron">
		<h1 id = "sectionTitle">Cover Letter Help</h1>
		<h3>In this section, you can find a sample cover letter various tips on cover letter writing. as w. Remember, just like your resume, please create a new cover letter for each company that you apply to
		</h3>
        <div class="navbar-collapse collapse" id="navList">
            <ul class="nav navbar-nav navbar-right">
            	<li>
					<a href="#Top" class="scrollto">Back to Top</a>
				</li>
            	<li>
					<a href="#interviews" class="scrollto">Interview Help</a>
				</li>
				<li>
					<a href="#jobs" class="scrollto">Job Research</a>
				</li>
				<li>
					<a href="#resume" class="scrollto">Resume Help</a>
				</li>
            </ul>
        </div>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<div class = "panel panel-default">
			<div class = "panel-heading">
				<h3 class = "panel-title text-center">Sample Cover Letter</h3>
			</div>
			<div class = "panel-body">
				<img id="pic1" src="/static/images/jdcl.jpg" alt="jobtroll" height="500" width="500">
			</div>
		</div>
	</div>
	<div class="col-md-7">
	</div>
</div>
<div class = "row">
	<div class = "col-md-4">
		<h2 id="title">Cover Letter Tips</h2>
		<ul>
			<li>Make sure you have a professional format, and address the letter to a company/individual</li>
			<li> In your introduction paragraph, make sure you mention your job target and strengths</li>
			<li>In the Body:
				<ul>
					<li>How will you benefit the company?</li>
					<li>Use Industry Specific Language</li>
					<li>Use examples of your accomplishments</li>
					<li>Is the content engaging?</li>
				</ul>
			</li>
			<li>Close strong, request an interview, and sign it</li>
			{{!-- http://www.monster.com/career-advice/article/cover-letter-checklist --}}
		</ul>
	</div>
	<div class = "col-md-8"></div>
</div>
<div class = "text-center top"></div>
<footer class = "text-center">
	<h7>JobTroll Inc.</h7>
</footer>
